.env*

HELP.md
.gradle
build/
tmp/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Helm
*.tgz
charts/
node_modules/
.settings/
bin/

### MacOS ###
.DS_Store
